main {
    background-color: #ebd4d4;

    .container {
        max-width: 1150px;
        margin: 0 auto;


        footer {
            background-color: #ebd4d4;

            .footer_container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-bottom: 90px;
                margin-top: 70px;

                h5 {
                    color: #EF6D58;
                    margin-bottom: 20px;
                }

                li {
                    margin-bottom: 10px;
                }

                h4 {
                    font-style: bold;
                    font-size: 24px;
                    color: #391400;
                    align-items: left;

                }

                .footer_icon {

                    i {
                        font-size: 40px;
                        color: #EF6D58;
                        background-color: #fff;
                        border-radius: 100%;
                        margin-right: 8px;
                    }
                }
            }

            .end {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 20px;
                flex-direction: row;
                align-content: center;
                align-items: center;
            }
        }
    }
}